<div class="loginpage">
  <div class="fullheight valigncenter">

    <div class="login">
        <div class="logo">
        <img src="../../../assets/images/global-volunteer-logo.png" width="300" />
        </div>
        <form>
        <input type="text" class="input" placeholder="Username" />
        <input type="text" class="input last-child" placeholder="Password" />
        <button type="submit" class="ctabutton big mt-0">SUBMIT</button>
        </form>
        <!-- <div class="separator">
            <div class="line"></div> <div class="text">OR</div> <div class="line"></div>
        </div>
        <div class="mt-4 valigncenter">
            <img src="facebook.png" alt="facebook" /> <div class="ml-3">Login with facebook</div>
        </div>
        <div class="mt-3 text-center"> <a href="" class="color-light">Forgot Password</a> </div> -->

    </div>
</div>
</div>
