<div class="loginpage">
  <div class="fullheight valigncenter">

    <div class="login">
      <div class="logo">
        <img src="../../../assets/images/home-page.jpeg" />
      </div>
      <form #loginForm="ngForm" (ngSubmit)="signIn()" autocomplete="off">

        <div class="form-group mb-3 text-left">

          <input class="form-control" type="text" id="emailaddress" [(ngModel)]="user.emailId" name="emailId"
            #emailId="ngModel" maxlength="40" placeholder="Enter your email" required>
          <span class=" text-danger" *ngIf="emailId.errors?.required && emailId.touched">
            Email Id is required
          </span>
        </div>

        <div class="form-group mb-4 text-left">
          <div class="input-group input-group-merge">
            <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password"
              #password="ngModel" placeholder="Enter your password" required>
            <div class="input-group-append" data-password="false">
              <div class="input-group-text pwd">
                <i class="fa fa-eye"></i>
              </div>
            </div>
          </div>
          <span class="help-block text-danger" *ngIf="password.errors?.required && password.touched">
            Password is required
          </span>
        </div>

        <div class="form-group mb-0 text-center">
          <button class="ctabutton big mt-0"  type="submit"> Sign In </button>
          <!-- <input type="button" value="load end-user" (click)="loadEndUser()" /> -->
        </div>

      </form>


    </div>
  </div>
</div>
