<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h3 class="mb-4">Attended Activities</h3>

  <div class="row justify-content-end m-0">
    <div class="col-md-12 mt-3 p-0 mscroll">

      <table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Place</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Duration (in Min)</th>
            <th>Action</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let al of activityList">
            <td>{{al.activityName}}</td>
            <td>{{al.place}}</td>
            <td>{{al.activityDate}}</td>
            <td>{{getFormatedStartTime(al.startTime)}}</td>
            <td>{{getFormatedEndTime(al.endTime)}}</td>
            <td>{{al.duration}}</td>
            <td><button class="btn btn-success btn-sm" (click)="routeToFeedback(al)">Leave Feedback</button></td>

        </tbody>
      </table>



    </div>

  </div>
</div>
