<section>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">GLOBAL VOLUNTEER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link ctabutton" routerLink="/login"><i class="fa fa-lock"></i>&nbsp;&nbsp;Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </header>

  <div class="banner">
    <div class="container">
      <div class="bantxt text-center animate__animated animate__fadeInDown">
        <h3>10<sup>th</sup> FEB</h3>
        <h1>World Largest Digital<br />Conference 2021</h1>
        <small>Conducted by Mr. Biruk</small>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row wow fadeIn" data-wow-delay="0.3s">
      <div class="col-lg-6">
        <h2 class="section-title">ABOUT GLOBAL <br />VOLUNTEER</h2>
      </div>
      <div class="col-lg-6">
        <p>Land transport or land transportation, also referred to as ground transport or ground transportation Land
          transport or land transportation, also referred to as ground transport or ground transportation</p>
      </div>
    </div>

    <div class="section">
      <h1 class="bigtitle">UPCOMING EVENTS</h1>

      <ul class="event">
        <li class="shadow-lg wow fadeInDown" data-wow-delay="0.3s">
          <div class="row m-0">
            <div>
              <div class="date">
                <h4>FEB</h4>
                <h2>10</h2>
                <h4>2021</h4>
              </div>
            </div>
            <div>
              <h4>3.30 PM</h4>
              <h3>Artificial Intelligence Event</h3>
              <p>Conducted By Biruk</p>
            </div>
          </div>
        </li>
        <li class="shadow-lg wow fadeInDown" data-wow-delay="0.5s">
          <div class="row m-0">
            <div>
              <div class="date">
                <h4>FEB</h4>
                <h2>10</h2>
                <h4>2021</h4>
              </div>
            </div>
            <div>
              <h4>3.30 PM</h4>
              <h3>Artificial Intelligence Event</h3>
              <p>Conducted By Biruk</p>
            </div>
          </div>
        </li>
        <li class="shadow-lg wow fadeInDown" data-wow-delay="0.7s">
          <div class="row m-0">
            <div>
              <div class="date">
                <h4>FEB</h4>
                <h2>10</h2>
                <h4>2021</h4>
              </div>
            </div>
            <div>
              <h4>3.30 PM</h4>
              <h3>Artificial Intelligence Event</h3>
              <p>Conducted By Biruk</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="mt-5 pt-5 text-center">
        <a  routerLink="/login" class="ctabutton big">MORE EVENTS</a>
      </div>
    </div>
  </div>
</section>
<div class="footer">
  <p class="m-0">Global Volunteer 2021@All Copyrights Reserved</p>
</div>
