<div class="shadow-sm p-3 mb-5 bg-white rounded">
  <h3 class="mb-4">Upcoming Activities</h3>

  <div class="row justify-content-end m-0">
    <div class="col-md-12 mt-3 p-0 mscroll">

      <table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Place</th>
            <th>No.of volunteers</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let al of activityList">
            <td>{{al.activityName}}</td>
            <td>{{al.place}}</td>
            <td>{{al.totalNumberOfPeople}}</td>
            <td>{{al.activityDate}}</td>
            <td>{{getFormatedStartTime(al.startTime)}}</td>
            <td>{{getFormatedEndTime(al.endTime)}}</td>
            <td><button [ngClass]="al.appliedVolunteerCount<al.totalNumberOfPeople? 'btn btn-success btn-sm':'btn btn-danger btn-sm'"  (click)="registerActivity(al)">{{al.appliedVolunteerCount < al.totalNumberOfPeople ?'Register':'Full'}}</button></td>
          </tr>
        </tbody>
      </table>



    </div>

  </div>
</div>

